<section class="post_block">
  <div class="post_block__wrap">

    <div class="post_block__title">
      <h3>Заголовок</h3>
      <button>На главную</button>
    </div>

    <div class="post_block__text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores laborum odit voluptates nisi quasi tempore molestias officiis corrupti voluptate optio. Corporis error natus saepe possimus ex tenetur, nemo molestiae atque quod qui voluptate omnis expedita at! Id quae sed blanditiis sapiente libero neque reiciendis in, aspernatur ullam repudiandae eligendi quas asperiores cumque optio odit ea. Temporibus ipsa illum inventore voluptas.</p>
    </div>

    <div class="post_block__post_info">
      <small>Имя автора</small>
      <small>06.03.2021</small>
    </div>
  </div>
</section>
