<div class="container"
  *ngIf="post$ |async as post; else loading"
>
  <div class="card text-center my-5">
    <div class="card-body">
      <h5 class="card-title h5">{{ post.title }}</h5>
      <quill-view-html [content]="post.content"></quill-view-html>
      <a routerLink="/" class="btn btn-primary">На главную</a>

    </div>
    <div class="card-footer text-muted">
      {{ post.date | date: 'dd.MM.YYYY' }}
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="container d-flex justify-content-center mt-5">
    <div class="spinner-border text-info mx-auto" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
