<form class="mt-5 w-50 mx-auto"  [formGroup]="form" (ngSubmit)='onSubmit()'>
  <h3 class="display-5 text-center mb-5">Создание поста</h3>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="title">
    <label for="floatingInput">Заголовок поста:</label>
    <div class="mt-3" *ngIf="form.controls['title'].touched && form.controls['title'].invalid">
      <div class="alert alert-danger" role="alert" *ngIf="form.controls['title'].errors?.required">
        Поле не заполнено!
      </div>
    </div>
  </div>

  <div class="form-floating mb-3">
    <p class="ms-3 mb-1">Содержание поста:</p>
    <quill-editor formControlName="content"></quill-editor>
    <div class="mt-3" *ngIf="form.controls['content'].touched && form.controls['content'].invalid">
      <div class="alert alert-danger" role="alert" *ngIf="form.controls['content'].errors?.required">
        Поле не заполнено!
      </div>
    </div>
  </div>

  <input class="btn btn-primary mx-auto d-block" type="submit" value="Добавить пост">
</form>
