@import '../../../../style/mixins.scss';

.posts_block__post {
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;


  border: 1px solid red;

  .posts_block__autor {
    width: 100%;
    margin: 0 auto 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
      @include preventing-text-wrapping;
      width: 90px;
    }
  }

  .posts_block__post_title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }

  .posts_block__post_text {
    width: 100%;
    max-height: 55px;
    font-size: 1.1rem;
    margin-bottom: 15px;

    p {
      @include preventing-text-wrapping;
      width: 100%;
    }
  }
}




