@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/roboto_condensed/roboto_condensed_regular.woff2") format("woff2"), url("../fonts/roboto_condensed/roboto_condensed_regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  font-display: swap;
  src: url("../fonts/roboto_condensed/roboto_condensed_bold.woff2") format("woff2"), url("../fonts/roboto_condensed/roboto_condensed_bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed Light";
  font-display: swap;
  src: url("../fonts/roboto_condensed/roboto_condensed_light.woff2") format("woff2"), url("../fonts/roboto_condensed/roboto_condensed_light.woff") format("woff");
}

@font-face {
  font-family: "Bebas";
  font-display: swap;
  src: url("../fonts/bebas/bebas_neue_regular.woff2") format("woff2"), url("../fonts/bebas/bebas_neue_regular.woff") format("woff");
}

@font-face {
  font-family: "Bebas Bold";
  font-display: swap;
  src: url("../fonts/bebas/bebas_neue_bold.woff2") format("woff2"), url("../fonts/bebas/bebas_neue_bold.woff") format("woff");
}
