<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Angular Blog</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down" *ngIf="auth.isAuthEnticated()">
      <li><a [routerLink]="['/admin', 'dashboard']" routerLinkActive="active">Главная</a></li>
      <li> <a [routerLink]="['/admin', 'create']" routerLinkActive="active">Создать</a></li>
      <li><a href="#" (click)='onLogout($event)'>Выход</a></li>
    </ul>
  </div>
</nav>

<section>
  <router-outlet></router-outlet>
</section>



